@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #222;
}

@layer base {
  html {
    font-size: 0.8rem;
    /* Remove grey background on clicked in mobile */
    -webkit-tap-highlight-color: transparent;
    @media screen(sm) {
      font-size: 0.875rem;
    }
  }

  body {
    font-weight: 400;
    color: var(--color-primary);
    fill: var(--color-primary);
  }

  /* Focus 外框 */
  a:focus-visible,
  button:focus-visible {
    border-radius: 0.125em; /* rounded-sm */
    outline: none;
    box-shadow: inset 0 0 0 2px rgb(255, 255, 255), 0 0 0 2px var(--color-primary);
  }

  /* Fix Bug in Safari 15: Images with loading="lazy" have uncontrollable gray border while loading */
  @supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading="lazy"] {
      clip-path: inset(0.6px);
    }
  }
}

@layer utilities {
  /** Home Category Search **/
  .products {
    @apply grid grid-cols-2 lg:grid-cols-4 gap-x-5 gap-y-16 justify-items-center mx-5 lg:mx-24;
  }

  /* min-height = 100dvh - Nav Height - Footer Height - Logo! */
  .main-height {
    @apply min-h-[calc(100dvh-theme(spacing.navHeight)-theme(spacing.footerHeight)-(5.125rem+178.78px))] lg:min-h-[calc(100dvh-theme(spacing.navHeight)-theme(spacing.footerHeight)-(5.125rem+298px))];
  }

  .product-height {
    @apply min-h-[calc(100dvh-theme(spacing.navHeight)-theme(spacing.footerHeight)-(5.125rem+178.78px)-(24px+2rem))] lg:min-h-[calc(100dvh-theme(spacing.navHeight)-theme(spacing.footerHeight)-(5.125rem+298px)-(24px+2rem))];
  }

  .svg-icon {
    @apply max-w-[2rem] px-1;
  }

  /** Navbar **/
  /* nav */
  .nav-link {
    @apply uppercase tracking-widest block py-1.5 px-2 hover-hover:py-1 focus-visible:shadow-none focus-visible:bg-neutral-50;
  }

  .nav-item {
    @apply mb-1 hover-hover:mb-0;
  }

  .label-neutral {
    @apply text-white bg-neutral-400 rounded-[3px] px-2.5 py-1;
  }

  .nav-icon {
    @apply p-2.5 !rounded-md hover:bg-neutral-200 focus-visible:bg-neutral-200 focus-visible:shadow-none;
  }

  .nav-icon-notification {
    @apply absolute top-[5px] right-[5px] sm:top-1 sm:right-1 rounded-full w-0.8 h-0.8 bg-neutral-400 border-2 border-white group-focus-visible:border-neutral-200 group-hover:border-neutral-200 transition;
  }

  /* 隱藏元素，但可以透過聚焦 (Focus) 顯示 */
  .visually-hidden {
    clip-path: inset(50%);
  }
  .visually-hidden-focusable {
    clip-path: none;
  }

  /** Counter **/
  .counter-icon {
    @apply fill-neutral-400 hover:fill-neutral-600 svg-icon transition-colors;
  }

  .loading-counter-icon {
    @apply fill-gray-200 svg-icon transition-colors;
  }

  /* Hidden spin buttons */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    margin: 0;
  }

  /* Cart, Account */
  .page-content-width {
    @apply w-[88%] lg:w-3/4;
  }

  /* Cart, Account, Login, Signup */
  .page-content {
    @apply pt-10 min-h-contentHeight;
  }

  /* Cart, Account, Login, Signup */
  .page-title {
    @apply text-2xl tracking-wider text-center mb-14;
  }

  /** Pagination **/
  .pagination-items {
    @apply cursor-pointer min-w-[32px] flex justify-center py-[5.5px] !rounded-md hover:bg-primary hover:text-white transition-all duration-300;
  }

  .pagination-icon {
    @apply cursor-pointer fill-neutral-400 hover:fill-primary transition-colors;
  }

  /** Modal **/
  .action-button {
    @apply !rounded-md px-4.5 py-1.5;
  }

  .modal-action {
    @apply min-w-fit rounded-lg pl-10.5 pr-9.5 pb-7.5 pt-12 bg-white;
    /* @apply min-w-fit rounded-lg px-12 py-8 bg-white; */
  }

  .close-button {
    /* + group */
    @apply cursor-pointer !rounded-full hover:bg-[#F2F2F2] focus:bg-[#F2F2F2] focus-visible:shadow-none transition;
  }

  .close-button-icon {
    @apply fill-[#C8C8C8] group-hover:fill-neutral-400 group-focus:fill-neutral-400 transition;
  }

  .content-heading {
    @apply font-medium font-display;
  }
}
