@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;600&family=Poppins:wght@300;400;600&family=Roboto:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #222;
}

@layer base {
  html {
    font-size: 0.8rem;
    @media screen(sm) {
      font-size: 0.875rem;
    }
  }

  body {
    color: var(--color-primary);
    fill: var(--color-primary);
  }
}

/* Home Category Search*/
.products {
  @apply grid grid-cols-2 lg:grid-cols-4 gap-x-5 gap-y-16 justify-items-center mx-5 lg:mx-24;
}

.svg-icon {
  @apply max-w-[2rem] px-1;
}

/* Navbar */
/* nav */
.link {
  /* @apply uppercase tracking-widest block py-1.5 hover:bg-neutral-50 rounded lg:hover:bg-transparent lg:p-0; */
  /* 20231121 */
  @apply uppercase tracking-widest block py-1.5 hover:bg-neutral-50 rounded hover-hover:hover:bg-transparent hover-hover:p-0;
}

.label-neutral {
  @apply text-white bg-neutral-400 rounded-[3px] px-2.5 py-1;
}

.navbar-icon {
  @apply p-2.5 rounded-md hover:bg-neutral-200 outline-none focus:bg-neutral-200;
}

.navbar-icon-notification {
  @apply absolute top-[5px] right-[5px] sm:top-1 sm:right-1 rounded-full w-0.8 h-0.8 bg-neutral-400 border-2 border-white group-focus:border-neutral-200 group-hover:border-neutral-200 transition;
}

/* Counter */
.counter-icon {
  @apply fill-neutral-400 hover:fill-neutral-600 svg-icon transition-colors;
}

.loading-counter-icon {
  @apply fill-gray-200 svg-icon transition-colors;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Tabel, Account */
.caption-content-width {
  @apply w-[88%] lg:w-3/4;
}

/* Cart, Account, Login, Signup */
.caption-content {
  @apply mt-10 sm:mx-24 lg:min-h-[63vh];
}

/* Heading - Cart, Account, Login, Signup */
.caption {
  @apply text-2xl tracking-wider text-center mb-14;
}

/* Pagination */
.pagination {
  @apply cursor-pointer min-w-[32px] flex justify-center py-[5.5px] rounded-md hover:bg-primary hover:text-white transition-all duration-300;
}

.pagination-icon {
  @apply cursor-pointer fill-neutral-400 hover:fill-primary max-w-[1.5rem] transition-colors;
}

/* Modal */
.action-button {
  @apply rounded-md px-4.5 py-1.5;
}

.modal {
  @apply min-w-fit rounded-lg pl-10.5 pr-9.5 pb-7.5 pt-12 bg-white;
}
